#contenedor {
    margin: auto;
    width: 910px;
}

#cabecera {
    width: 900px;
    padding: 0.5em;
    float: right;
    background: url('../imagenes/cabecera.png') no-repeat center;
    color: #FFF;
}

#busqueda {
    width: 250px;
    float: right;
    clear: none;
    height: 100px;
    overflow: visible;
    padding-top: 10px;
}

#menu {
    width: 900px;
    clear: both;
    height: 30px;
    border: 2px solid #FFF;
    float: right;
    padding: 0.5em;
    background-color: #C7D6D1;
}

#pie {
    width: 910px;
    clear: both;
    text-align: center;
    position: fixed;
    bottom: 0px;
    background-color: #FDF4B5;
    border: thin #03C;
    border-top-style: double;
    border-bottom-style: double;
}

#identificador {
    clear: none;
    float: left;
    width: 300px;
    height: 100px;
}

#lateralizquierdo {
    float: left;
    width: 245px;
    clear: none;
    margin-right: 10px;
    background: url(../imagenes/flateral.gif) repeat-y;
}

#principal {
    float: left;
    width: 400px;
    clear: none;
    background: url(../imagenes/fprincipal.jpg) repeat-y;
}

#lateralderecho {
    float: right;
    width: 245px;
    clear: none;
    margin-left: 4px;
    background-image: url(../imagenes/fderecho.gif);
    border-bottom: thin solid #999;
    border-left: thin solid #999;
}

#menu ul {
    list-style: none;
    margin: auto;
    display: block;
    width: 80%;
}

#menu ul li {
    list-style: none;
    display: inline;
    float: left;
    height: 25px;
    width: 120px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

#menu li a {
    text-decoration: none;
    padding-left: 20px;
    color: #DC8E0E;
}

#menu li a.seleccionado {
    text-shadow: 0px 0px 15px #666;
    font-weight: bolder;
    color: #FFF;
}

#menu li a:hover {
    list-style-type: none;
    background: url(../imagenes/arrow_breadcrumbs.png) no-repeat left;
    color: #F2C526;
    text-shadow: 0px 0px 5px #F9FC8D;
}

body {
    background: #F2F5FE url(../imagenes/fondo.gif) repeat-x;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

.articulo {
    background: url(../imagenes/farticulo.jpg) no-repeat;
    padding: 20px;
}

.articulo h2 {
    background-color: #D2DEFB;
    color: #600;
    padding: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

#noticias, #enlaces, #publicidad {
    background: url(../imagenes/fnoticias.gif) no-repeat;
    padding: 5px;
    border-right: thin solid #999;
    border-bottom: thin solid #999;
}

h3 {
    font-size: 150%;
    font-weight: bold;
    background-image: url(../imagenes/ftitulos.gif);
    padding: 10px;
    text-align: center;
}

.articulo img {
    float: left;
    margin: 5px;
}

#lateralderecho h2 {
    color: #FFF;
    text-decoration: underline;
    text-align: center;
}